# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#Specific binary files
ej1/ej1
ej1/bridges/bridges
ej2/ej2
ej2/ej0-kosaraju/trust_groups
ej3/ej3

#Archivos de experimentación
inputs/
output/
ej3_perf_test

# Config files
.idea/
.vscode/
